# Bumping the version with `npm version` should not update node_modules.
# This is important for the src/ tree because we are very careful never
# to install @cargo-messages/* in node_modules so as not to trigger a
# codegen bug with ncc.
# See: https://docs.npmjs.com/cli/commands/npm-version
workspaces-update=false
