# Bumping the version with `npm version` should not update node_modules.
# This is important for the src/ tree because we are very careful never
# to install @cargo-messages/* in node_modules
# See: https://docs.npmjs.com/cli/commands/npm-version
workspaces-update=false
