name: Build

on:
  workflow_call:
    inputs:
      ref:
        description: 'The branch, tag, or SHA to check out'
        required: true
        type: string
      update-version:
        description: 'Update version before building?'
        required: false
        type: boolean
        default: false
      version:
        description: 'Version update (ignored if update-version if false)'
        required: false
        type: string
        default: 'patch'
      github-release:
        description: 'Publish GitHub release?'
        required: false
        type: boolean
        default: false
      tag:
        description: 'The release tag (ignored if github-release is false)'
        required: false
        type: string
        default: ''

jobs:
  matrix:
    name: Matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.result }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref }}
      - name: Setup Neon Environment
        uses: ./.github/actions/setup-neon
        with:
          use-rust: false
      - name: Install Dependencies
        shell: bash
        run: npm ci
      - name: Install cargo-messages
        shell: bash
        run: npm ci
        working-directory: ./pkgs/cargo-messages
      - name: Look Up Matrix Data
        id: matrixData
        shell: bash
        run: |
          echo "json=$(node ../../dist/cli ci github | jq -rc)" >> "$GITHUB_OUTPUT"
        working-directory: ./pkgs/cargo-messages
      - name: Compute Matrix
        id: matrix
        uses: actions/github-script@v7
        with:
          script: |
            const platforms = ${{ steps.matrixData.outputs.json }};
            const macOS = platforms.macOS.map(platform => {
              return { os: "macos-latest", platform, script: "build" };
            });
            const windows = platforms.Windows.map(platform => {
              return { os: "windows-latest", platform, script: "build" };
            });
            const linux = platforms.Linux.map(platform => {
              return { os: "ubuntu-latest", platform, script: "cross" };
            });
            return [...macOS, ...windows, ...linux];

  binaries:
    name: Binaries
    needs: [matrix]
    strategy:
      matrix:
        cfg: ${{ fromJSON(needs.matrix.outputs.matrix) }}
    runs-on: ${{ matrix.cfg.os }}
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref }}
          fetch-depth: 0
      - name: Setup Neon Environment
        id: neon
        uses: ./.github/actions/setup-neon
        with:
          use-cross: ${{ matrix.cfg.script == 'cross' }}
          platform: ${{ matrix.cfg.platform }}
          workspace: ./pkgs/cargo-messages
      - name: Diagnostics
        shell: bash
        run: git log -10
      - name: Diagnostics Before Installing Dependencies
        shell: bash
        run: |
          for d in `find . -name @cargo-messages -type d`; do
            echo "*** $d:"
            ls $d
            echo '***'
          done
      - name: Install Dependencies
        shell: bash
        run: npm ci
      - name: Diagnostics After Installing Dependencies
        shell: bash
        run: |
          for d in `find . -name @cargo-messages -type d`; do
            echo "*** $d:"
            ls $d
            echo '***'
          done
      - name: Update Version
        if: ${{ inputs.update-version }}
        shell: bash
        run: |
          git config --global user.name $ACTIONS_USER
          git config --global user.email $ACTIONS_EMAIL
          npm version ${{ inputs.version }} -m "v%s"
          for d in `find . -name @cargo-messages -type d`; do
            echo "*** $d:"
            ls $d
            echo '***'
          done
      - name: Check Versions
        shell: bash
        run: ./test/lint/check-versions.sh
      - name: Diagnostics
        shell: bash
        run: |
          echo steps.target.outputs.target=${{ steps.neon.outputs.target }}
          echo matrix.cfg.platform=${{ matrix.cfg.platform }}
      - name: Build
        shell: bash
        env:
          CARGO_BUILD_TARGET: ${{ steps.neon.outputs.target }}
          NEON_BUILD_PLATFORM: ${{ matrix.cfg.platform }}
        run: npm run ${{ matrix.cfg.script }}
        working-directory: ./pkgs/cargo-messages
      - name: Pack
        id: pack
        shell: bash
        run: |
          mkdir -p dist
          echo filename=$(basename $(npm pack ./platforms/${{ matrix.cfg.platform }} --pack-destination=./dist --json | jq -r '.[0].filename')) >> $GITHUB_OUTPUT
        working-directory: ./pkgs/cargo-messages
      - name: Diagnostics
        shell: bash
        run: |
          echo 'inputs.ref=${{ inputs.ref }}'
          echo 'steps.build.outputs.filename=${{ steps.pack.outputs.filename }}'
          ls -al ./pkgs/cargo-messages/platforms/${{ matrix.cfg.platform }}
          ls -al ./pkgs/cargo-messages/dist/${{ steps.pack.outputs.filename }}
          tar tvzf ./pkgs/cargo-messages/dist/${{ steps.pack.outputs.filename }}
          find . -name update-platforms.log
          cat ./pkgs/cargo-messages/update-platforms.log || true
      - name: Release
        if: ${{ inputs.github-release }}
        uses: softprops/action-gh-release@v1
        with:
          files: ./pkgs/cargo-messages/dist/${{ steps.pack.outputs.filename }}
          tag_name: ${{ inputs.tag }}

  main:
    name: Main
    needs: [matrix]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref }}
          fetch-depth: 0
      - name: Diagnostics
        shell: bash
        run: |
          echo 'inputs.ref=${{ inputs.ref }}'
          echo 'inputs.tag=${{ inputs.tag }}'
          echo "cargo-messages.version=$(jq -r '.version' < ./pkgs/cargo-messages/package.json)"
      - name: Setup Neon Environment
        uses: ./.github/actions/setup-neon
        with:
          use-rust: false
      - name: Install Dependencies
        shell: bash
        run: npm ci
      - name: Pack
        id: pack
        shell: bash
        run: |
          mkdir -p dist
          ls -al
          ls -al dist
          echo '*** FNOOOOORD ***'
          npm pack --pack-destination=./dist --json 2>/dev/null
          echo '*** FNOOOOOOOOOOOOOOOOOOOORD ***'
          echo "filename=$(npm pack --pack-destination=./dist)" >> $GITHUB_OUTPUT
        working-directory: ./pkgs/cargo-messages
      - name: Diagnostics
        shell: bash
        run: |
          jq -r .version < package.json
          ls -al dist
          cat update-platforms.log
        working-directory: ./pkgs/cargo-messages
      - name: Release
        if: ${{ inputs.github-release }}
        uses: softprops/action-gh-release@v1
        with:
          files: ./pkgs/cargo-messages/dist/${{ steps.pack.outputs.filename }}
          tag_name: ${{ inputs.tag }}
